<style>
  #save_message{
    width: 100%;
    border: 1px solid #ddd;
    background-color: #eee;
    padding: .4em;
    color: #666;
    display:none;
  }

  #saved_query_list .saved_link {
    font-size: 1.2em;
  }

  #saved_query_list .new_item {
   /* background-color: #95f28e;*/
  }

  #saved_query_list .delete_query{
    font-size: .8em;
    vertical-align: super;
    margin-right:.4em;
    color:#666;
  }

   #saved_query_list .delete_query:hover{
     color:red;
     font-weight:bold;
   }
</style>
<%
  relative_url = "#{request.path}?#{request.query_string}"

  # generate hash if it doesn't exist
  if current_user.properties["saved_searches"].nil?
    current_user.properties["saved_searches"] = {}
  end

  # delete a query
  if params["del_query_key"]
    current_user.properties["saved_searches"].delete(params["del_query_key"] )
  end

  # save new query
  if params["save_query_url"]
    current_user.properties["saved_searches"].merge!({ params['save_query_label'] => params['save_query_url'] })
  end
%>

<ul id="saved_query_list">
  <% current_user.properties["saved_searches"].each do |key,val| %>
  <li><a href="#" class="delete_query" key="<%= key %>">X</a><a href="<%= val %>" class="saved_link"><%= key %></a></li>
  <% end %>
</ul>

<form id="save_search">
  <input name="search_label" type="text" id="search_label"/>
  <input type="submit" value="save current search" id="save_button"/>
</form>

<div id="save_message"></div>

<script>
$( document ).ready(function() {
  $("#save_search").submit(function(event) {
    event.preventDefault();
    var ajax_url = '<%= url_for_event(:ajax_display, { :source => unique_widget_id, :context => controller.context.to_json }) %>'
    var label = $(this).find('#search_label').val();
    var rel_url = '<%= relative_url %>';
    var new_elem = "<li class='new_item'><a href='"+rel_url+"' class='saved_link'>"+label+"</a>";

    var jxhr =
        $.get(
          ajax_url,
          {
            save_query_label: label,
            save_query_url:  rel_url
          },
          function(data) {
            //refresh the list on success
            $(event.target).fadeOut();
            $('#saved_query_list').append(new_elem);
          },
          "html"
        )

        .done(function() {
          console.log( "second success" );
        })
        .fail(function() {
          console.log( "error" );
        })
        .always(function() {
          console.log( "finished" );
        });
  });

  $('.delete_query').on( "click", function() {
     var ajax_url = '<%= url_for_event(:ajax_display, { :source => unique_widget_id, :context => controller.context.to_json }) %>'
     var elem = $(this).parent();
    var jxhr =
      $.get(
        ajax_url,
        {del_query_key: $(this).attr('key')},
        remove(),
        "html"
        )
    function remove(){
       //removes the element on sucess
      $(elem).css("background-color", "#ffb2b2");
      $(elem).fadeOut();
    }
  });
});
</script>
